html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#chat-container {
  width: 300px;
  height:100%;
  float: right;
  background: #ebf9ff;
}
#chat-head h2 {
  text-align: center;
}
#message-box {
  padding:10px;
}
#message-box div{
  height: 80px;
  outline: 0;
  background: #fff;
  padding: 8px 16px;
}
[contenteditable=true]:empty:before {
  font-style: italic;
  color: #ccc;
  content: attr(placeholder);
  display: block; /* For Firefox */
}
#threads {
  padding:0px 10px;
}
.chat-thread {
  margin-bottom:10px;
}
.chat-message {
  position:relative;
  margin-bottom:1px;
  padding:10px;
  background: #fff;
}
.chat-message-avatar {
  height:100%;
  float:left;
}
.chat-message-avatar img {
  margin:5px 10px 10px 5px;
  border-radius: 50%;
  width: 50px;
}
small {
  color: #bbb;
}
