@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
html,body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#app-head {
  padding-bottom: 40px;
}
#chat-container {
  -webkit-box-shadow: -10px 10px 40px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 40px -25px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 40px -25px rgba(0,0,0,0.75);
  width: 300px;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  overflow-y:scroll;
  overflow-x:hidden;
  background: #ebf9ff;
}
#chat-head {
  color: #777;
  padding: 10px 20px;
  font-size: 18px;
  overflow: auto;
}
#chat-head-title {
  float:left;
}
#chat-head-icon {
  float:right;
}
#message-box {
  padding:10px;
}
.message {
  resize: none;
  border: none;
  width:100%;
  height: 80px;
  outline: 0;
  background: #fff;
  padding: 8px 16px;
}
/*[contenteditable=true]:empty:before {
  margin-top: -2px;
  padding: 0px 3px;
  font-style: italic;
  color: #aaa;
  content: attr(placeholder);
  display: block;
}*/
#threads {
  padding:0px 10px;
}
.chat-thread-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position:relative;
  margin-bottom:10px;
}
.chat-thread {
  position:relative;
}
.chat-thread-reply {
  cursor: pointer;
  position:absolute;
  left: 0px;
  bottom: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: transparent transparent transparent #eee;
}
.chat-thread-reply:hover {
  border-color: transparent transparent transparent #b8eaff;
}
.chat-message {
  position:relative;
  margin-bottom:1px;
  padding:10px;
  background: #fff;
}
.chat-message-avatar {
  height:100%;
  float:left;
}
.chat-message-avatar img {
  margin:5px 10px 5px 5px;
  border-radius: 5px;
  width: 50px;
  background: #ddd;
}
small {
  color: #aaa;
}
